---
type Props = {
  title: string;
};

const { title } = Astro.props;
---

<div
  class="aspect-video w-full h-full font-ranade font-bold text-xl overflow-hidden flex flex-col justify-center items-center text-center uppercase text-black-100 dark:text-white-100"
>
{title}
</div>
