---
type Props = {
  title: string;
};

const { title } = Astro.props;
---

<div
  class="aspect-video w-full h-full font-panchang font-bold text-md overflow-hidden flex justify-center items-center text-center uppercase text-black-20 dark:text-white-20 line-clamp-2 p-10 backdrop-blur-sm dark:bg-black-80 bg-white-80 border rounded-2xl border-black-60 dark:border-white-60"
>
  {title}
</div>
