---
import type { TagType } from "@scripts/utils/constants";
import { generateClassNameForTags } from "@scripts/utils/methods";

interface Props {
  tag: string;
  tagType: TagType;
}

const { tag, tagType } = Astro.props;
---

<div class={generateClassNameForTags(tag,tagType)}>
  {tag}
</div>
