---
import { TagType } from "@scripts/utils/constants";
import { generateClassNameForTags } from "@scripts/utils/methods";

interface Props {
  tag: string;
  tagType: TagType;
}

const { tag, tagType } = Astro.props;
---

<div class={generateClassNameForTags(tag, tagType)}>
  {
    tagType === TagType.Category ? (
      <a
        href={`/blogs/${tag}`}
        class="decoration-transparent font-semibold dark:hover:text-white-100 hover:text-black-100"
      >
        {tag}
      </a>
    ) : (
      tag
    )
  }
</div>
