---
import SocialLinks from "./SocialLinks.astro";
---

<footer
  class="w-screen flex xs:flex-col sm:justify-between gap-2 justify-around items-center p-2 bg-white-100 dark:bg-black-100 border-black-100 dark:border-white-100 border-t-[1px]"
>
  <SocialLinks pageType="footer"/>
  <p
    class="font-clash dark:text-white-80 text-black-80 uppercase font-light text-md sm:text-[10px]"
  >
    Copyrights © 2023 &#10230; <span class="dark:text-white-100 text-black-100"> Zedan Saheer </span> 
  </p>
</footer>
