---
import {imageBaseURL} from "@scripts/utils";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" initial-scale="1" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Favicon Light Mode -->
<link
  rel="apple-touch-icon"
  sizes="180x180"
  media="(prefers-color-scheme: light)"
  href={imageBaseURL("/favicon_dark/apple-touch-icon.png")}
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  media="(prefers-color-scheme: light)"
  href={imageBaseURL("/favicon_dark/favicon-32x32.png")}
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  media="(prefers-color-scheme: light)"
  href={imageBaseURL("/favicon_dark/favicon-16x16.png")}
/>
<link
  rel="manifest"
  media="(prefers-color-scheme: light)"
  href={imageBaseURL("/favicon_dark/site.webmanifest")}
/>

<!-- Favicon Dark Mode -->
<link
  rel="apple-touch-icon"
  sizes="180x180"
  media="(prefers-color-scheme: dark)"
  href={imageBaseURL("/favicon_light/apple-touch-icon.png")}
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  media="(prefers-color-scheme: dark)"
  href={imageBaseURL("/favicon_light/favicon-32x32.png")}
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  media="(prefers-color-scheme: dark)"
  href={imageBaseURL("/favicon_light/favicon-16x16.png")}
/>
<link
  rel="manifest"
  media="(prefers-color-scheme: dark)"
  href={imageBaseURL("/favicon_light/site.webmanifest")}
/>

<!-- Loading External fonts -->
<link
  href="https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,1,300&f[]=ranade@700,300,2,701,401,101,100,400,1,500,501,301&f[]=panchang@200,500,1,700,300,400,800,600&display=swap"
  rel="stylesheet"
/>

<!-- SEO related queries -->
<meta
  name="description"
  content="Zedan Saheer is a Software Engineer, Innovator, Content Writer and an Indie Chef. Focused on building highly performant and scalable code."
/>
<meta name="author" content="Zedan Saheer" />
<meta
  name="keyword"
  content="portfolio, javascript, developer,software engineer,zedan saheer,programmer,typescript"
/>

<!-- Meta tags for other social media -->
<meta
  property="og:title"
  content="Zedan Saheer - Software Engineer, Content Writer"
/>
<meta property="og:type" content="website" />
<meta
  property="og:description"
  content="Zedan Saheer is a Software Engineer, Innovator, Content Writer and an Indie Chef. Focused on building highly performant and scalable code."
/>
<meta property="og:url" content="https://zedansaheer.com/" />
<meta
  property="og:image"
  content={imageBaseURL("/media/zedan_banner.png")}
/>
<meta property="og:image:alt" content="Zedan Saheer - Brand Banner" />

<!-- Meta Tags for Twitter  -->
<meta
  name="twitter:title"
  content="Zedan Saheer - Software Engineer, Content Writer"
/>
<meta
  name="twitter:description"
  content="Zedan Saheer is a Software Engineer, Innovator, Content Writer and an Indie Chef. Focused on building highly performant and scalable code."
/>
<meta
  name="twitter:image"
  content={imageBaseURL("/media/zedan_banner.png")}
/>
<meta name="twitter:creator" content="@zedansaheer" />
<meta name="twitter:card" content="summary_large_image" />

<!-- Website share banner -->
<link rel="image_src" href={imageBaseURL("/media/zedan_banner.png")}>

<!-- Animate On Scroll CDN -->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<title>Zedan Saheer - Software Engineer, Thinker and Creator</title>
