---
import Icon from "astro-icon";
---

<style>
  .fader {
    position: absolute;
    top: 0;
    height: 100%;
    width: 25px;
  }
  .fader-left {
    left: 0;
    background: linear-gradient(
      to left,
      theme(colors.white.40),
      theme(colors.white.80)
    );
  }
  .fader-right {
    right: 0;
    background: linear-gradient(
      to right,
      theme(colors.white.40),
      theme(colors.white.80)
    );
  }

  .animate {
    position: relative;
    animation: leftright 6s infinite alternate ease-in-out;
  }

  @media (max-width: 1060px) {
    .animate {
      animation-duration: 12s;
    }
  }

  @keyframes leftright {
    0%,
    20% {
      transform: translateX(40%);
      left: 0%;
    }
    80%,
    100% {
      transform: translateX(-50%);
      left: 40%;
    }
  }

  @media (prefers-color-scheme: dark) {
    .fader-left {
      background: linear-gradient(
        to left,
        theme(colors.black.40),
        theme(colors.black.80)
      );
    }
    .fader-right {
      background: linear-gradient(
        to right,
        theme(colors.black.40),
        theme(colors.black.80)
      );
    }
  }
</style>
<div
  slot="before-navbar"
  class="news-container w-screen h-fit absolute py-1.5 tracking-widest top-0 left-0 bg-white-100 dark:bg-black-100 text-black-100 dark:text-white-100 border-b dark:border-white-50 border-black-50 overflow-hidden flex justify-center items-center md"
>
  <p
    class="w-fit news-data font-ranade font-normal flex tracking-widest justify-center items-center overflow-visible whitespace-nowrap"
  >
    I, <strong class="mx-1.5">Zedan Saheer</strong> declare my complete support,
    solidarity, concern and love towards the innocent lives of
    <span class="mx-1.5 uppercase font-bold text-red-700 flex">
      <Icon
        pack="openmoji"
        name="flag-palestinian-territories"
        class="w-6 mx-2"
      /> palestine</span
    > and condemn <strike class="ml-1.5">war crimes</strike>
  </p>
  <div class="fader fader-left"></div>
  <div class="fader fader-right"></div>
</div>
<script src="@scripts/news_banner.ts"></script>
