---
import ErrorLogo from "@assets/logo/ErrorLogo.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout bodyStyle="error">
  <section
    class="w-full h-screen flex flex-col items-center justify-evenly overflow-hidden p-24 sm:p-4"
  >
    <div class="w-1/2 sm:w-full">
      <ErrorLogo />
    </div>
  </section>
</MainLayout>
<script>
  setTimeout(() => history.back(), 1500);
</script>
