---
import MainLayout from "@layouts/MainLayout.astro";
import { defaultMetaData } from "@scripts/utils/constants";
import HeroSection from "@components/index/HeroSection.astro";
import NewsBanner from "@components/core/NewsBanner.astro";
import Preloader from "@components/core/Preloader.astro";
import PersonalIntroduction from "@components/index/PersonalIntroduction.astro";
---

<MainLayout bodyStyle="index" metaData={defaultMetaData}>
  <NewsBanner />
  <!-- <Preloader /> -->
  <HeroSection />
  <PersonalIntroduction />
  <section
    class="relative top-16 md:top-36 w-screen min-h-screen flex md:flex-col flex-wrap gap-6 px-10 justify-center items-center"
  >
    <div
      class="flex flex-[30%] md:items-center sm:items-start flex-col md:flex-row sm:flex-col font-clash font-semibold dark:text-white-100 text-black-100"
    >
      <h1
        class="font-panchang text-8xl mb-8 sm:mb-4 text-black-20 dark:text-white-20 text-opacity-20 flex-1 md:text-center sm:text-left"
      >
        1
      </h1>
      <div class="flex flex-col flex-1">
        <h2 class="bg-gradient-to-r from-blue to-red-600 bg-clip-text text-transparent text-4xl mb-2">Business Driven</h2>
        <p class="font-ranade font-normal text-sm dark:text-white-60 text-black-60">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
          suscipit aliquam molestiae nemo! Et vitae perferendis, assumenda quae,
          odio magni distinctio cumque, illum id magnam ut. Cupiditate fugiat
          dolorem tempora?
        </p>
      </div>
    </div>
    <div
      class="flex flex-[30%] md:items-center sm:items-end flex-col md:flex-row-reverse sm:flex-col font-clash font-semibold dark:text-white-100 text-black-100"
    >
      <h1
        class="font-panchang text-8xl mb-8 sm:mb-4 text-black-20 dark:text-white-20 text-opacity-20 flex-1 md:text-center sm:text-right"
      >
        2
      </h1>
      <div class="flex flex-col flex-1">
        <h2 class="bg-gradient-to-r from-blue to-red-600 bg-clip-text text-transparent text-4xl mb-2 sm:text-right">Business Driven</h2>
        <p class="font-ranade font-normal text-sm dark:text-white-60 text-black-60 sm:text-right">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
          suscipit aliquam molestiae nemo! Et vitae perferendis, assumenda quae,
          odio magni distinctio cumque, illum id magnam ut. Cupiditate fugiat
          dolorem tempora?
        </p>
      </div>
    </div>
    <div
      class="flex flex-[30%] md:items-center sm:items-start flex-col md:flex-row sm:flex-col font-clash font-semibold dark:text-white-100 text-black-100"
    >
      <h1
        class="font-panchang text-8xl mb-8 sm:mb-4 text-black-20 dark:text-white-20 text-opacity-20 flex-1 md:text-center sm:text-left"
      >
        3
      </h1>
      <div class="flex flex-col flex-1">
        <h2 class="bg-gradient-to-r from-blue to-red-600 bg-clip-text text-transparent text-4xl mb-2">Business Driven</h2>
        <p class="font-ranade font-normal text-sm dark:text-white-60 text-black-60">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
          suscipit aliquam molestiae nemo! Et vitae perferendis, assumenda quae,
          odio magni distinctio cumque, illum id magnam ut. Cupiditate fugiat
          dolorem tempora?
        </p>
      </div>
    </div>
  </section>
  <section class="h-[50vh]"></section>
</MainLayout>
<!-- <script src="@scripts/pages/index_page.ts"></script> -->
