---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div class="top st">
		<h1>Coming Soon</h1>
		<h1>Coming Soon</h1>
		<h1>Coming Soon</h1>
	</div>
	<div class="center"></div>
	<div class="bottom st">
		<h1>Coming Soon</h1>
		<h1>Coming Soon</h1>
		<h1>Coming Soon</h1>
	</div>
</Layout>
