---
import Marquee from "@components/index/Marquee.astro";
import HeroText from "@components/index/HeroText.astro";
import MainLayout from "@layouts/MainLayout.astro";
import ScrollIndicator from "@components/index/ScrollIndicator.astro";
---

<style>
  .landing-page::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0%;
    bottom: 10%;
    width: 150%;
    left: -25%;
    background: var(--landing-gradient-light);
    background-position:;
    -webkit-mask-image: var(--landing-radial-mask);
    mask-image: var(--landing-radial-mask);
  }

  @media (max-width: 639px) {
    .landing-page::before {
      top: 0%;
      bottom: 0%;
      height: 80%;
      width: 150%;
      left: -55%;
    }
  }
  @media (prefers-color-scheme: dark) {
    .landing-page::before {
      background: var(--landing-gradient-dark);
    }
  }
</style>
<MainLayout>
  <section
    class="landing-page flex flex-col justify-start items-center px-20 sm:px-6 h-screen xs:h-full relative"
  >
    <ScrollIndicator page="01/04"/>
    <HeroText />
    <Marquee />
  </section>
</MainLayout>
