---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout>
  <section class="flex flex-col justify-center items-center h-full">
    <h1 class="sm:w-full sm:text-xl font-panchang uppercase text-4xl font-light text-left w-2/3 animate-fade-left animate-duration-1000">
      <span class="font-normal uppercase">software engineering</span> is a
      combination of <span class="font-semibold">art and craft</span>
    </h1>
    <p class=" sm:w-full sm:text-xs text-lg text-left font-ranade mt-10 w-2/3 text-black-80 font-light animate-fade-up animate-duration-1000">
      To truly excel in this art you must seek to have a creativity of an artist
      combined with the resilience of good craftsman. This world is deluded in
      their own ponder of stagnation. To think out of the box and fire
      the spark for innovation is truly a purpose to mastery.
    </p>
  </section>
</MainLayout>
