---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout>
  <section
    class="flex flex-col justify-center items-center font-panchang text-white-100 h-full px-6 sm:px-0"
  >
    <h1
      class="text-8xl xl:text-7xl lg:text-6xl md:text-5xl sm:text-3xl xs:text-2xl uppercase gradient-text text-center font-bold w-screen"
    >
      software engineering
    </h1>
  </section>
  <section
    class="flex flex-col justify-center items-center font-panchang text-white-100 h-full px-6 sm:px-0"
  >
    <h1
      class="text-8xl xl:text-7xl lg:text-6xl md:text-5xl sm:text-3xl xs:text-2xl uppercase gradient-text text-center font-bold w-screen"
    >
      This is beta verison, I am working on pushing features everyday continously integrating, testing and delivering.
    </h1>
  </section>
</MainLayout>
