---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout>
  <section class="flex flex-col justify-center items-start h-full px-6 sm:px-0" >
    <h1
      class="overflow-hidden dark:text-white-100 sm:text-lg font-panchang uppercase text-4xl xl:text-3xl lg:text-2xl md:text-1xl font-light animate-fade-left animate-duration-1000 text-left"
    >
      <span
        class="font-bold text-8xl xl:text-7xl lg:text-6xl md:text-5xl sm:text-3xl xs:text-2xl gradient-text"
        >software engineering
      </span>
      <br /> is a combination of
      <span
        class="font-semibold text-black-100 dark:text-white-100 text-6xl xl:text-5xl lg:text-4xl md:text-3xl sm:text-2xl xs:xl"
        >art and craft
      </span>
    </h1>
    <p
      class="sm:text-xs text-lg text-left font-ranade dark:text-white-60 mt-10 text-black-80 font-light animate-fade-up animate-duration-1000 pr-40 sm:pr-0"
    >
      To truly excel in this art you must seek to have a creativity of an artist
      combined with the resilience of good craftsman. This world is deluded in
      their own ponder of stagnation. To think out of the box and fire the spark
      for innovation is truly a purpose to mastery.
    </p>
  </section>
</MainLayout>
