---
import MainLayout from "@layouts/MainLayout.astro";
import Preloader from "@components/core/Preloader.astro";
import { defaultMetaData } from "@scripts/constants";
import HeroSection from "@components/index/HeroSection.astro";
---

<MainLayout bodyStyle="index" metaData={defaultMetaData}>
  <Preloader />
  <HeroSection />
  <section></section>
</MainLayout>
<script src="@scripts/index_page.ts"></script>
