---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout>
  <section
    class="flex flex-col font-panchang justify-center items-center text-white-100 px-6 sm:px-0 break-words"
  >
    <h1
      class="text-8xl lg:text-6xl md:text-5xl sm:text-3xl xs:text-2xl uppercase gradient-text text-center font-bold"
    >
      This is beta verison, I am working on pushing features everyday continously integrating, testing and delivering.
    </h1>
  </section>
</MainLayout>
