---
import SocialLinks from "@components/core/SocialLinks.astro";
---

<style>
  .off-screen-canvas,
  .off-screen-canvas ul {
    display: none;
  }

  body:has(.off-screen-canvas.active) {
    height: 100vh;
    overflow-y: hidden;
  }

  .off-screen-canvas.active {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: theme(colors.white.40);
    backdrop-filter: blur(10px);
    z-index: 2;
  }

  .off-screen-canvas.active div a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;
    border: 1px solid theme(colors.black.80);
  }

  .off-screen-canvas.active ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    height: 2/3;
    width: fit-content;
    z-index: 1;
  }

  .off-screen-canvas li{
    transform: translateY(200%);
  }

  .off-screen-canvas.active li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    margin: 1rem 0;
    width: 100%;
    text-align: center;
    font-family: "Clash Display";
    text-transform: capitalize;
    color: theme(colors.black.70);
    font-weight: bold;
    border-bottom: 1px solid theme(colors.black.70);
    transform: translateY(0%);
    transition: 1s ease-out;
  }

  .off-screen-canvas.active li:last-child {
    border-bottom: none;
  }

  .off-screen-canvas.active li:hover,
  .off-screen-canvas.active li:active {
    color: theme(colors.black.100);
    border-bottom: 1px solid theme(colors.black.100);
  }

  .off-screen-canvas.active li > a {
    position: relative;
  }
  .off-screen-canvas.active li > a > span {
    position: absolute;
    left: -4rem;
    top: -1rem;
    font-size: 1rem;
    font-weight: 200;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .off-screen-canvas.active li > a > .notice {
    position: absolute;
    left: 100%;
    font-size: 0.6rem;
    font-weight: 200;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1024px) {
    .off-screen-canvas.active ul {
      left: 50%;
    }
    .off-screen-canvas.active li {
      font-size: 4rem;
      text-align: center;
    }
    .off-screen-canvas.active li > a > span {
      position: absolute;
      left: -2rem;
      top: -1rem;
      font-weight: 200;
      width: 30px;
      height: 30px;
    }
  }

  @media (max-width: 639px) {
    .off-screen-canvas.active {
      padding-top: 12rem;
    }
    .off-screen-canvas.active div a {
      padding: 0.4rem;
    }
    .off-screen-canvas.active ul {
      left: 50%;
      width: 100vw;
    }
    .off-screen-canvas.active li {
      font-size: 3rem;
      width: 100vw;
      text-align: center;
    }
    .off-screen-canvas.active li > a > span {
      position: absolute;
      left: -2rem;
      top: -1rem;
      font-weight: 200;
      width: 30px;
      height: 30px;
    }
  }

  @media (prefers-color-scheme: dark) {
    .off-screen-canvas.active {
      background-color: theme(colors.black.40);
    }
    .off-screen-canvas.active div a {
      border: 1px solid theme(colors.white.50);
    }
    .off-screen-canvas.active li {
      color: theme(colors.white.50);
      border-bottom: 1px solid theme(colors.white.50);
    }

    .off-screen-canvas.active li:hover,
    .off-screen-canvas.active li:active {
      color: theme(colors.white.100);
      border-bottom: 1px solid theme(colors.white.100);
    }
  }
</style>

<div class="off-screen-canvas" transition:persist>
  <ul>
    <li class="animate-fade-up animate-duration-[1000ms] animate-delay-200">
      <a href="/"><span>01</span>Home</a>
    </li>
    <li class="animate-fade-up animate-duration-[1000ms] animate-delay-200">
      <a href="/blogs"><span>02</span>Blogs</a>
    </li>
    <li class="animate-fade-up animate-duration-[1000ms] animate-delay-200">
      <a href="/about"
        ><span>03</span>About<span class="notice">coming soon</span></a
      >
    </li>
  </ul>
  <SocialLinks />
</div>
