<style>
  /* Base styles for Menu container */

  .menu_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
  }
  /* Base styles for Hamburger menu */

  .top,
  .middle,
  .bottom {
    background-color: theme(colors.black.100);
    height: 1.5px;
    transition: all 0.3s;
    z-index: 2;
  }

  .top,
  .bottom {
    width: 50px;
  }

  .middle {
    width: 35px;
    margin: 10px 0;
    transform: translateX(20%);
  }

  /* Active styles for menu container */

  .menu_wrapper.active > .middle {
    display: none;
  }
  .menu_wrapper.active > .bottom {
    transform: rotate(45deg);
    margin-top: 5px;
  }
  .menu_wrapper.active > .top {
    transform: rotate(-45deg);
    margin-bottom: -5px;
  }
  /* Responsive styles for hamburger menu */

  @media (max-width: 639px) {
    .menu_wrapper {
      width: 60px;
      height: 60px;
    }
    .top,
    .bottom {
      width: 30px;
    }

    .middle {
      width: 15px;
      margin: 6px 0;
    }

    .menu_wrapper.active > .bottom {
      margin-top: 3px;
    }
  }

  /* Dark mode color settings */

  @media (prefers-color-scheme: dark) {
    .top,
    .middle,
    .bottom {
      background-color: theme(colors.white.100);
    }
  }
</style>

<nav class="menu_wrapper" transition:persist>
  <div class="top"></div>
  <div class="middle"></div>
  <div class="bottom"></div>
</nav>

<script src="@scripts/hamburger_menu.ts"></script>
