---
import { Image } from "astro:assets";
import logo from "@assets/logo/zedan_signature.svg";
import HamburgerMenu from "@components/HamburgerMenu.astro";
---

<nav
  class="flex justify-between items-center w-screen fixed top 0 left-0 px-12 sm:px-6 z-10"
>
  <Image
    src={logo}
    alt="Zedan Saheer : Dark Logo"
    width={160}
    class={"sm:w-1/3 animate-fade-right z-10"}
  />
  <HamburgerMenu />
</nav>
