---
import { Icon } from "astro-icon";
---

<style>
  .off-screen-canvas,
  .off-screen-canvas ul {
    display: none;
  }

  body:has(.off-screen-canvas.active) {
    height: 100vh;
    overflow-y: hidden;
  }

  .off-screen-canvas.active {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: theme(colors.white.60);
    backdrop-filter: blur(10px);
    z-index: 1;
  }

  .off-screen-canvas.active div a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;
    border: 1px solid theme(colors.black.80);
  }

  .off-screen-canvas.active ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    height: 2/3;
    width: fit-content;
    z-index: 1;
  }

  .off-screen-canvas.active li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    margin: 1rem 0;
    width: 100%;
    text-align: center;
    font-family: "Clash Display";
    text-transform: capitalize;
    color: theme(colors.black.70);
    font-weight: bold;
    border-bottom: 1px solid theme(colors.black.70);
  }

  .off-screen-canvas.active li:last-child {
    border-bottom: none;
  }

  .off-screen-canvas.active li:hover,
  .off-screen-canvas.active li:active {
    color: theme(colors.black.100);
    border-bottom: 1px solid theme(colors.black.100);
  }

  .off-screen-canvas.active li > a {
    position: relative;
  }
  .off-screen-canvas.active li > a > span {
    position: absolute;
    left: -4rem;
    top: -1rem;
    font-size: 1rem;
    font-weight: 200;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1024px) {
    .off-screen-canvas.active ul {
      left: 50%;
    }
    .off-screen-canvas.active li {
      font-size: 4rem;
      text-align: center;
    }
    .off-screen-canvas.active li > a > span {
      position: absolute;
      left: -2rem;
      top: -1rem;
      font-weight: 200;
      width: 30px;
      height: 30px;
    }
  }

  @media (max-width: 639px) {
    .off-screen-canvas.active {
      padding-top: 12rem;
    }
    .off-screen-canvas.active div a {
      padding: 0.4rem;
    }
    .off-screen-canvas.active ul {
      left: 50%;
      width: 100vw;
    }
    .off-screen-canvas.active li {
      font-size: 3rem;
      width: 100vw;
      text-align: center;
    }
    .off-screen-canvas.active li > a > span {
      position: absolute;
      left: -2rem;
      top: -1rem;
      font-weight: 200;
      width: 30px;
      height: 30px;
    }
  }

  @media (prefers-color-scheme: dark) {
    .off-screen-canvas.active {
      background-color: theme(colors.black.60);
    }
    .off-screen-canvas.active div a {
      border: 1px solid theme(colors.white.50);
    }
    .off-screen-canvas.active li {
      color: theme(colors.white.50);
      border-bottom: 1px solid theme(colors.white.50);
    }

    .off-screen-canvas.active li:hover,
    .off-screen-canvas.active li:active {
      color: theme(colors.white.100);
      border-bottom: 1px solid theme(colors.white.100);
    }
  }
</style>

<div class="off-screen-canvas" transition:persist>
  <ul>
    <li class="animate-fade-up animate-duration-[1000ms] animate-delay-200">
      <a href="/"><span>01</span>Home</a>
    </li>
    <li class="animate-fade-up animate-duration-[1000ms] animate-delay-200">
      <a href="/blogs"><span>02</span>Blogs</a>
    </li>
    <li class="animate-fade-up animate-duration-[1000ms] animate-delay-200">
      <a href="/about"><span>03</span>About</a>
    </li>
  </ul>
  <div class="w-80 xs:w-full flex xs:flex-col justify-evenly items-center gap-5">
    <div
      class="flex items-center justify-center animate-fade animate-duration-1000"
    >
      <p
        class="text-sm xs:text-xs w-full text-black-100 dark:text-white-100 font-clash uppercase text-right"
      >
        connect with me
      </p>
      <Icon
        name="ph:arrow-down-right"
        class="w-6 ml-4 text-black-100 dark:text-white-100"
      />
    </div>
    <div class="flex justify-center items-center gap-4">
      <a target="_blank" href="https://twitter.com/zedansaheer">
        <Icon
          pack="mdi"
          name="twitter"
          class="dark:hover:text-white-100 dark:text-white-50 w-10 sm:w-6 hover:text-black-100 text-black-80 animate-fade animate-duration-[1000ms] animate-delay-200"
        />
      </a>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/zedan-saheer-software-engineer/"
      >
        <Icon
          pack="mdi"
          name="linkedin"
          class="dark:hover:text-white-100 dark:text-white-50 w-10 sm:w-6 hover:text-black-100 text-black-80 animate-fade animate-duration-[1000ms] animate-delay-200"
        />
      </a>
      <a target="_blank" href="https://github.com/ZedanSaheer">
        <Icon
          pack="mdi"
          name="github"
          class="dark:hover:text-white-100 dark:text-white-50 w-10 sm:w-6 hover:text-black-100 text-black-80 animate-fade animate-duration-[1000ms] animate-delay-200"
        />
      </a>
      <a target="_blank" href="mailto:contactme@zedansaheer.com">
        <Icon
          pack="mdi"
          name="email-plus"
          class="dark:hover:text-white-100 dark:text-white-50 w-10 sm:w-6 hover:text-black-100 text-black-80 animate-fade animate-duration-[1000ms] animate-delay-200"
        />
      </a>
    </div>
  </div>
</div>
