---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import RandomBackgroundGenerator from "./RandomBackgroundGenerator.astro";

type Props = {
  src?: ImageMetadata;
  alt?: string;
  title?: string;
};

const { src, alt, title = "no cover available" } = Astro.props;
const isImageValueDefined = src !== undefined && alt !== undefined;
---

<div class="w-full h-full aspect-video overflow-hidden rounded-2xl animate-fade-right">
  {
    isImageValueDefined ? (
      <Image src={src} alt={alt} class="w-full h-full"/>
    ) : (
      <RandomBackgroundGenerator title={title} />
    )
  }
</div>
