---
import BlogCover from "@components/blogs/BlogCover.astro";
import Footer from "@components/core/Footer.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { generateImageBaseURL, imageBaseURL } from "@scripts/utils/methods";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const blogPosts = await getCollection("blogs");

  return blogPosts.map((blog) => ({
    params: { slug: blog.slug },
    props: { blog },
  }));
}

interface Props {
  blog: CollectionEntry<"blogs">;
}

const { blog } = Astro.props;
const { image, title, description, author, publishDate } = await blog.data;
const { Content } = await blog.render();
const imageRelativePath = generateImageBaseURL(image?.src.src);
const imageMetaData = imageBaseURL("src", imageRelativePath!);
---

<MainLayout
  metaData={{
    title,
    description,
    author,
    image: {
      alt: image!.alt,
      src: imageMetaData,
      share: imageMetaData,
      shareDark: imageMetaData,
    },
  }}
>
  <div class="flex justify-center items-center md:px-6 pb-10">
    <article
      class="prose prose-pitchblack dark:prose-invert prose-xl lg:prose-lg md:prose-md sm:prose-sm prose-headings:font-clash prose-p:font-ranade prose-p:font-extralight prose-p:first-letter:capitalize prose-li:font-ranade prose-headings:gradient-text hover:prose-a:text-white-100 prose-img:aspect-video prose-img:w-full prose-img:rounded-2xl w-full"
    >
      <BlogCover alt={image?.alt} src={image?.src} title={title} />
      <h4 class="not-prose my-8 uppercase font-bold text-sm md:text-xs">{publishDate.blogDate}</h4>
      <Content />
    </article>
  </div>
  <Footer />
</MainLayout>