---
import MainLayout from "@layouts/MainLayout.astro";
import Footer from "@components/core/Footer.astro"
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const blogPosts = await getCollection("blogs");

  return blogPosts.map((blog) => ({
    params: { slug: blog.slug },
    props: { blog },
  }));
}

interface Props {
  blog: CollectionEntry<"blogs">;
}

const { blog } = Astro.props;
const { Content } = await blog.render();
---

<MainLayout>
  <div class="flex justify-center items-center md:px-6 pb-10">
    <article
    class="prose prose-2xl xl:prose-xl lg:prose-lg md:prose-md sm:prose-sm"
  >
    <Content />
  </article>
  </div>
  <Footer/>
</MainLayout>
