---
import { getCollection } from "astro:content";
import MainLayout from "@layouts/MainLayout.astro";

const blogPosts = await getCollection("blogs");
---

<MainLayout>
  <section class="flex flex-col justify-center items-center px-24 sm:px-4 pb-10">
    <h1
      class="dark:text-white-80 text-black-80 font-clash text-4xl my-28 text-center font-semibold lowercase"
    >
      <p class="uppercase gradient-text text-6xl animate-fade-up">blogs</p>
      <p class="animate-fade-up">Content, Ideas and Learnings</p>
    </h1>
    <div class="flex flex-wrap items-start justify-start gap-4 sm:px-6">
      {
        blogPosts.map((blog) => (
          <div class="w-96 my-4 flex flex-col flex-grow sm:items-start items-center gap-2 animate-fade-right">
            <h1 class="font-clash font-bold text-4xl dark:text-white-100 text-black-100">
              {blog.data.title}
            </h1>
            <h2 class="font-clash dark:text-white-100 text-black-100">{blog.data.author}</h2>
            <p class="font-ranade font-light text-sm leading-6 text-center sm:text-left dark:text-white-80 text-black-80 w-3/4 sm:w-full line-clamp-6">{blog.data.description}</p>
            <a href={`/blogs/${blog.slug}`} class="font-clash hover:dark:text-white-100 hover:text-black-100 dark:text-white-60 text-black-60">
              Read now >
            </a>
          </div>
        ))
      }
    </div>
  </section>
</MainLayout>
