@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary_black: rgb(10 10 10);
    --black10: rgba(10, 10, 10, 10%);
    --black20: rgba(10, 10, 10, 20%);
    --black30: rgba(10, 10, 10, 30%);
    --black40: rgba(10, 10, 10, 40%);
    --black50: rgba(10, 10, 10, 50%);
    --black60: rgba(10, 10, 10, 60%);
    --black70: rgba(10, 10, 10, 70%);
    --black80: rgba(10, 10, 10, 80%);
    --black90: rgba(10, 10, 10, 90%);
    --black100: rgba(10, 10, 10, 100%);
    --primary_white: rgb(250 248 246);
    --white10: rgba(250, 248, 246, 10%);
    --white20: rgba(250, 248, 246, 20%);
    --white30: rgba(250, 248, 246, 30%);
    --white40: rgba(250, 248, 246, 40%);
    --white50: rgba(250, 248, 246, 50%);
    --white60: rgba(250, 248, 246, 60%);
    --white70: rgba(250, 248, 246, 70%);
    --white80: rgba(250, 248, 246, 80%);
    --white90: rgba(250, 248, 246, 90%);
    --white100: rgba(250, 248, 246, 100%);
    --landing-gradient-light: linear-gradient(83.21deg,   #d9a7c7, #fffcdc);
    --landing-gradient-dark: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
    --landing-radial-mask: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
  }

  body {
    background-image: radial-gradient(var(--black10) 1px, var(--primary_white) 1px);
    background-size: 20px 20px;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  /* Selection color */
  *::selection {
    background-color: rgba(0, 0, 0, 0.4);
  }

  /* Making side-scrollbar turn off by default */

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #757575 #000000;
  }

  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    height: 0px;
    width: 0px;
  }

  *::-webkit-scrollbar-track {
    background-color: transparent;
  }

  *::-webkit-scrollbar-track:hover {
    background-color: transparent;
  }

  *::-webkit-scrollbar-track:active {
    background-color: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
  }

  *::-webkit-scrollbar-thumb:active {
    background-color: transparent;
  }

  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  *:focus {
    outline: none !important;
  }

  /* Scrolling navbar styles */

  header {
    transition: top 0.4s;
  }

  .scroll-mode {
    top: 0px !important;
    left: 0 !important;
    border: 1px solid var(--primary_black);
    background-color: var(--white40);
    backdrop-filter: blur(10px);
    transition: top 0.4s;
  }

  .scroll-mode>.menu_wrapper {
    border-left: 1px solid var(--primary_black);
    border-right: 1px solid var(--primary_black);
  }

  .menu_active, .menu_active .menu_wrapper {
    border: none !important;
  }

  @media (max-width: 639px) {
    .scroll-mode {
      border-top: 1px solid var(--primary_black);
      border-bottom: 1px solid var(--primary_black);
      padding: 0px 10px !important;
    }
  }

  @media (prefers-color-scheme:dark) {
    body {
      background-image: radial-gradient(var(--white10) 1px, var(--primary_black) 1px);
      background-size: 20px 20px;
    }

    .scroll-mode {
      background-color: var(--black40);
      border-top: 1px solid var(--primary_white);
      border-bottom: 1px solid var(--primary_white);
      padding: 0px 20px !important;
    }

    .scroll-mode>.menu_wrapper {
      border-left: 1px solid var(--primary_white);
      border-right: 1px solid var(--primary_white);
    }
  }

  /* Extending unsupported styles */

  .break-all {
    word-break: break-all;
  }
}

@layer components {
  .gradient-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-black-100 to-beige;
  }

  @media (prefers-color-scheme:dark) {
    .gradient-text {
      @apply text-transparent bg-gradient-to-r from-white-100 to-blue;
    }
  }
}