@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary_black: 10 10 10;
    --black10: 10, 10, 10, 10%;
    --black20: 10, 10, 10, 20%;
    --black30: 10, 10, 10, 30%;
    --black40: 10, 10, 10, 40%;
    --black50: 10, 10, 10, 50%;
    --black60: 10, 10, 10, 60%;
    --black70: 10, 10, 10, 70%;
    --black80: 10, 10, 10, 80%;
    --black90: 10, 10, 10, 90%;
    --black100: 10, 10, 10, 100%;
    --primary_white: 250 248 246;
    --white10: 250, 248, 246, 10%;
    --white20: 250, 248, 246, 20%;
    --white30: 250, 248, 246, 30%;
    --white40: 250, 248, 246, 40%;
    --white50: 250, 248, 246, 50%;
    --white60: 250, 248, 246, 60%;
    --white70: 250, 248, 246, 70%;
    --white80: 250, 248, 246, 80%;
    --white90: 250, 248, 246, 90%;
    --white100: 250, 248, 246, 100%;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  *::selection {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@layer components {
  .gradient-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-black-100 to-beige;
  }

  .glass_bg {
    @apply rounded-md backdrop-filter backdrop-blur-sm bg-opacity-10;
  }

  @media (prefers-color-scheme:dark) {
    .gradient-text {
      @apply text-transparent bg-gradient-to-r from-white-100 to-blue;
    }
  }

  .no-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .no-select:focus {
    outline: none !important;
  }
}