<h1
  class="text-9xl xl:text-7xl lg:text-6xl font-panchang md:text-5xl sm:text-4xl xs:text-3xl py-10 uppercase gradient-text text-left font-bold animate-fade-up w-3/4 sm:w-full animate-duration-1000"
>
  crafting quality software
</h1>
<p
  class="text-2xl lg:text-xl md:text-sm xs:text-xs font-ranade lowercase text-black-50 dark:text-white-50 font-extralight leading-10 xs:leading-6 text-right w-1/2 xs:w-10/12 animate-fade-left animate-duration-1000"
>
  is a combination of <span class="text-black-100 dark:text-white-100">art</span
  > and <span class="text-black-100 dark:text-white-100">science</span>, This
  craft is usually driven by an idea or vision for innovation and impact among
  the scales via carefully curated architechture
</p>
