<div
  class="infinite-marquee font-panchang uppercase text-4xl xs:text-2xl text-black-100 dark:text-white-100 relative whitespace-nowrap font-light tracking-wider w-screen h-56 overflow-x-hidden flex justify-center items-center animate-fade"
>
  <p class="item absolute text-black-50 dark:text-white-50">
    <span class="mx-8 text-black-100 dark:text-white-100"
      >zedan saheer is a</span
    >
    <span class="text-black-60 dark:text-white-60">//</span>
     mutli-displinary
    <span class="text-black-60 dark:text-white-60">//</span>
     software engineer
    <span class="text-black-60 dark:text-white-60">//</span>
     visionary
    <span class="text-black-60 dark:text-white-60">//</span>
     muslim
    <span class="text-black-60 dark:text-white-60">//</span>
     story-teller
    <span class="text-black-60 dark:text-white-60">//</span>
     content-writer
    <span class="text-black-60 dark:text-white-60">//</span>
  </p>
  <p class="item absolute text-black-50 dark:text-white-50">
    <span class="mx-8 text-black-100 dark:text-white-100"
      >zedan saheer is a</span
    >
     mutli-displinary
    <span class="text-black-60 dark:text-white-60">//</span>
     software engineer
    <span class="text-black-60 dark:text-white-60">//</span>
     visionary
    <span class="text-black-60 dark:text-white-60">//</span>
     muslim
    <span class="text-black-60 dark:text-white-60">//</span>
     story-teller
    <span class="text-black-60 dark:text-white-60">//</span>
     content-writer
    <span class="text-black-60 dark:text-white-60">//</span>
  </p>
</div>
<script src="@scripts/infinite_marquee.ts"></script>
