---
import ArrowRight from "@assets/icons/ArrowRight.astro";
import ArrowLeft from "@assets/icons/ArrowLeft.astro";

interface Props {
  words: string[];
}

const { words } = Astro.props;
---

<div
  class="infinite-marquee font-clash capitalize text-4xl xs:text-2xl absolute md:top-0 top-[50%] whitespace-nowrap font-normal w-screen h-screen overflow-x-hidden flex flex-col justify-center items-center"
>
  <div
    class="w-full flex relative top-8 items-end rotate-[4deg] sm:rotate-[8deg]"
  >
    <p
      class="flex dark:bg-black-100 bg-white-100 py-2 items-center gap-4 item absolute text-black-50 dark:text-white-50"
    >
      {
        words.map((word) => {
          return (
            <>
              {word}
              <span class="text-black-60 dark:text-white-60">
                <ArrowRight />
              </span>
            </>
          );
        })
      }
    </p>
    <p
      class="flex dark:bg-black-100 bg-white-100 py-2 items-center gap-4 item absolute text-black-50 dark:text-white-50"
    >
      {
        words.map((word) => {
          return (
            <>
              {word}
              <span class="text-black-60 dark:text-white-60">
                <ArrowRight />
              </span>
            </>
          );
        })
      }
    </p>
  </div>
  <div
    class="w-full flex relative bottom-6 items-start rotate-[-4deg] sm:rotate-[-10deg]"
  >
    <p
      class="flex dark:bg-black-100 bg-white-100 py-2 items-center gap-4 item absolute text-black-100 dark:text-white-100"
    >
      {
        words.map((word) => {
          return (
            <>
              {word}
              <span class="text-black-60 dark:text-white-60">
                <ArrowLeft />
              </span>
            </>
          );
        })
      }
    </p>
    <p
      class="flex dark:bg-black-100 bg-white-100 py-2 items-center gap-4 item absolute text-black-100 dark:text-white-100"
    >
      {
        words.map((word) => {
          return (
            <>
              {word}
              <span class="text-black-60 dark:text-white-60">
                <ArrowLeft />
              </span>
            </>
          );
        })
      }
    </p>
  </div>
</div>
<script src="@scripts/infinite_marquee.ts"></script>
