---
import Arrow from "@assets/icons/Arrow.astro";
---

<div
  class="infinite-marquee font-panchang uppercase text-4xl xs:text-2xl text-black-100 dark:text-white-100 relative whitespace-nowrap font-light tracking-wider w-screen h-56 overflow-x-hidden flex justify-center items-center animate-fade"
>
  <p
    class="flex items-center gap-4 item absolute text-black-50 dark:text-white-50"
  >
    <span class="ml-4">mutli displinary</span>
    <span class="text-black-60 dark:text-white-60"><Arrow /></span>
     software engineer
    <span class="text-black-60 dark:text-white-60"><Arrow /></span>
     visionary
    <span class="text-black-60 dark:text-white-60"><Arrow /></span>
     muslim
    <span class="text-black-60 dark:text-white-60"><Arrow /></span>
     story teller
    <span class="text-black-60 dark:text-white-60"><Arrow /></span>
     content creator
    <span class="text-black-60 dark:text-white-60"><Arrow /></span>
  </p>
  <p
    class="flex items-center gap-4 item absolute text-black-50 dark:text-white-50"
  >
    <span class="ml-4">mutli displinary</span>
    <span class="text-black-60 dark:text-white-60"><Arrow /></span>
     software engineer
    <span class="text-black-60 dark:text-white-60"><Arrow /></span>
     visionary
    <span class="text-black-60 dark:text-white-60"><Arrow /></span>
     muslim
    <span class="text-black-60 dark:text-white-60"><Arrow /></span>
     story teller
    <span class="text-black-60 dark:text-white-60"><Arrow /></span>
     content creator
    <span class="text-black-60 dark:text-white-60"><Arrow /></span>
  </p>
</div>
<script src="@scripts/infinite_marquee.ts"></script>
