<section
  class="relative top-56 lg:top-28 md:top-28 w-full min-h-screen flex md:flex-col flex-wrap gap-6 px-10 overflow-hidden justify-center items-start"
>
  <div
    class="flex flex-[30%] md:w-full md:items-center sm:items-start flex-col md:flex-row sm:flex-col font-clash font-semibold dark:text-white-100 text-black-100 group relative cursor-pointer"
    data-aos="fade-up"
    data-aos-delay="300"
    data-aos-duration="1500"
  >
    <h1
      class="font-panchang text-8xl mb-8 sm:mb-4 dark:text-white-10 text-black-10 dark:drop-shadow-[6px_2px_10px_rgba(255,255,255,0.8)] drop-shadow-[6px_2px_10px_rgba(0,0,0,1)] text-opacity-20 flex-1 text-center sm:text-left"
    >
      1
    </h1>
    <div class="flex flex-col flex-1">
      <h2
        class="capitalize tracking-wide bg-gradient-to-r from-blue to-red-600 bg-clip-text text-transparent text-center sm:text-left text-4xl xs:text-3xl mb-2"
      >
        Pragmatic Programmer
      </h2>
      <p
        class="font-ranade leading-6 lowercase first-letter:capitalize font-light text-sm xs:text-xs dark:text-white-80 text-black-80 text-center sm:text-left hidden md:block group-hover:block animate-fade"
      >
        I am not wedded to a particular methodology, language, operating system,
        notation, whatever. Instead, I use my experience, combined with
        research, to choose the most appropriate combinations of tools for the
        job at hand. Pragmatic Programmers are not hammer wielders in search of
        nails, They are highly adaptable minds seeking challenges on incremental
        fashion towards solving problems which is a major characterstic for a
        Software Engineer.
      </p>
    </div>
  </div>
  <div
    class="flex flex-[30%] md:w-full md:items-center sm:items-end xs:items-start flex-col md:flex-row-reverse sm:flex-col font-clash font-semibold dark:text-white-100 text-black-100 group relative cursor-pointer"
    data-aos="fade-up"
    data-aos-delay="500"
    data-aos-duration="1500"
  >
    <h1
      class="font-panchang text-8xl mb-8 sm:mb-4 text-black-10 dark:text-white-10 dark:drop-shadow-[6px_2px_10px_rgba(255,255,255,0.8)] drop-shadow-[6px_2px_10px_rgba(0,0,0,1)]  text-opacity-20 flex-1 text-center sm:text-right xs:text-left"
    >
      2
    </h1>
    <div class="flex flex-col flex-1">
      <h2
        class="capitalize tracking-wide bg-gradient-to-r from-blue to-red-600 bg-clip-text text-transparent text-center text-4xl xs:text-3xl mb-2 sm:text-right xs:text-left"
      >
        Team Mentality
      </h2>
      <p
        class="font-ranade leading-6 lowercase first-letter:capitalize font-light text-sm xs:text-xs dark:text-white-80 text-black-80 text-center sm:text-right xs:text-left hidden md:block group-hover:block animate-fade"
      >
        The idea of soft skills are the fundamental character I believe to
        possess, Making use of communication, understanding, listening and most
        importantly empathy towards team mates and our combined objective in a
        working team space, Driven by growth mindset, I believe we being any
        team I am part of is one of a kind where we will and shall influence,
        motivate and work with each other towards bigger goals than ourselves,
        Thus promoting a highly ordered team mentality within my core skillset.
      </p>
    </div>
  </div>
  <div
    class="flex flex-[30%] md:w-full md:items-center sm:items-start flex-col md:flex-row sm:flex-col font-clash font-semibold dark:text-white-100 text-black-100 group relative cursor-pointer"
    data-aos="fade-up"
    data-aos-delay="500"
    data-aos-duration="1500"
  >
    <h1
      class="font-panchang text-8xl mb-8 sm:mb-4 text-black-10 dark:text-white-10 dark:drop-shadow-[6px_2px_10px_rgba(255,255,255,0.8)] drop-shadow-[6px_2px_10px_rgba(0,0,0,1)]  text-opacity-20 flex-1 text-center sm:text-left"
    >
      3
    </h1>
    <div class="flex flex-col flex-1">
      <h2
        class="capitalize tracking-wide bg-gradient-to-r from-blue to-red-600 bg-clip-text text-transparent text-center text-4xl xs:text-3xl mb-2 sm:text-left"
      >
        Entrepreneurial Mindset
      </h2>
      <p
        class="font-ranade leading-6 lowercase first-letter:capitalize font-light text-sm xs:text-xs dark:text-white-80 text-black-80 text-center sm:text-left hidden md:block group-hover:block animate-fade"
      >
        Every action has a solid thought of business logic put into concern for
        somebody who is oriented towards believing to being part of the business
        unlike the mindset where you work for a business where the final concern
        is only your personal income, Be it large or small scale. An
        entrepreneurial mind always thinks the pros and cons of his decisions
        while writing the code with regard to the impact and scalability for the
        business, Making sure the output is always oriented towards the
        potential growth or targets the business demands at the right moment.
      </p>
    </div>
  </div>
</section>
