---
import Icon from "astro-icon";

interface Props {
  page: string;
}

const { page} = Astro.props;
---

<div
class="flex items-center justify-start w-full animate-fade animate-duration-1000"
>
<p
  class="text-sm xs:text-xs w-full text-black-100 dark:text-white-100 font-clash uppercase text-right"
>
  {page} - scroll
</p>
<Icon
  name="ph:arrow-down-thin"
  class="w-6 ml-4 text-black-100 dark:text-white-100"
/>
</div>