<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      href="/assets/images/light_rounded.png"
      rel="icon"
      media="(prefers-color-scheme: light)"
    />
    <link
      href="/assets/images/dark_rounded.png"
      rel="icon"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="generator" content={Astro.generator} />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/gsap.min.js"></script>
    <title>Zedan Saheer</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url("/src/assets/styles/global.css");
</style>
