---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Zedan Saheer is a Software Engineer, Innovator, Content Writer and a Season Chef" />
    <meta name="viewport" content="width=device-width" />
    <link
      href="/assets/images/light_rounded.png"
      rel="icon"
      media="(prefers-color-scheme: light)"
    />
    <link
      href="/assets/images/dark_rounded.png"
      rel="icon"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url("@styles/global.css");
</style>