---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Zedan Saheer is a Software Engineer, Innovator, Content Writer and an Indie Chef. Focused on building highly performant and scalable code."
    />
    <meta name="author" content="Zedan Saheer" />
    <meta
      name="keyword"
      content="portfolio, javascript, developer,software engineer,zedan saheer,programmer,typescript"
    />

    <!-- Meta tags for other social media -->
    <meta
      property="og:title"
      content="Zedan Saheer - Software Engineer, Content Writer"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="Zedan Saheer is a Software Engineer, Innovator, Content Writer and an Indie Chef. Focused on building highly performant and scalable code."
    />
    <meta property="og:url" content="https://zedansaheer.com/" />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/ZedanSaheer/zedansaheer-dotcom/main/public/brand_banner_small.png"
    />
    <meta property="og:image:alt" content="Zedan Saheer - Brand Banner" />

    <!-- Meta Tags for Twitter  -->
    <meta
      name="twitter:title"
      content="Zedan Saheer - Software Engineer, Content Writer"
    />
    <meta
      name="twitter:description"
      content="Zedan Saheer is a Software Engineer, Innovator, Content Writer and an Indie Chef. Focused on building highly performant and scalable code."
    />
    <meta
      name="twitter:image"
      content="https://raw.githubusercontent.com/ZedanSaheer/zedansaheer-dotcom/main/public/brand_banner_small.png"
    />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Fav Icons Light Mode -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon_dark/apple-touch-icon.png"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon_dark/favicon-32x32.png"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon_dark/favicon-16x16.png"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="manifest"
      href="/favicon_dark/site.webmanifest"
      media="(prefers-color-scheme: dark)"
    />

    <!-- Fav Icons Dark Mode -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon_light/apple-touch-icon.png"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon_light/favicon-32x32.png"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon_light/favicon-16x16.png"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="manifest"
      href="/favicon_light/site.webmanifest"
      media="(prefers-color-scheme: light)"
    />

    <!-- Importing neccessary font files -->
    <link
      href="https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,1,300&f[]=ranade@700,300,2,701,401,101,100,400,1,500,501,301&f[]=panchang@200,500,1,700,300,400,800,600&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url("@styles/global.css");
</style>
