---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Zedan Saheer is a Software Engineer, Innovator, Content Writer and a Season Chef" />
    <meta name="viewport" content="width=device-width" />
    <link
      href="/assets/images/light_rounded.png"
      rel="icon"
      media="(prefers-color-scheme: light)"
    />
    <link
      href="/assets/images/dark_rounded.png"
      rel="icon"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="generator" content={Astro.generator} />
    <link href="https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,1,300&f[]=ranade@700,300,2,701,401,101,100,400,1,500,501,301&f[]=panchang@200,500,1,700,300,400,800,600&display=swap" rel="stylesheet">
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url("@styles/global.css");
</style>