---
import HTMLHeader from "@components/HTMLHeader.astro";
import '../main.css';
import Navbar from "@components/Navbar.astro";
---

<html lang="en" class="scroll-smooth">
  <head>
    <HTMLHeader />
    <style is:global>
      * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }
    </style>
  </head>
  <body class="min-h-screen h-screen overflow-hidden p-12 sm:p-8 bg-white-100 dark:bg-black-100">
    <Navbar />
    <slot />
  </body>
</html>
