---
import HTMLHeader from "@components/core/HTMLHeader.astro";
import "../main.css";
import Navbar from "@components/navbar/Navbar.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  showNav?: boolean;
  removeBodyPaddingTop?: boolean;
}

const { showNav = true, removeBodyPaddingTop = false } = Astro.props;

const currentURL = Astro.url.pathname;
const isPathIndex = currentURL === "/";
const setBodyPaddingTop = removeBodyPaddingTop ? "pt-0" : "pt-40 sm:pt-36";
const bodyClassList = `relative min-h-screen ${setBodyPaddingTop} bg-white-100 dark:bg-black-100 overflow-x-hidden`;
const indexBodyClassList = "polka-dots-bg" + " " + bodyClassList;
---

<style>
  .polka-dots-bg {
    background-image: radial-gradient(
      var(--black10) 1px,
      var(--primary_white) 1px
    );
    background-size: 20px 20px;
  }

  @media (prefers-color-scheme: dark) {
    .polka-dots-bg {
      background-image: radial-gradient(
        var(--white10) 1px,
        var(--primary_black) 1px
      );
    }
  }
</style>
<html lang="en">
  <head>
    <HTMLHeader />
    <!-- View transitions -->
    <ViewTransitions />
  </head>
  <body class={isPathIndex ? indexBodyClassList : bodyClassList}>
    {showNav && <Navbar />}
    <slot />

    <!-- Animate On Scroll CDN -->
    <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script is:inline>
    AOS.init();
    </script>
    <script>
      const wrapper = document.querySelector(".menu_wrapper");
      const header = document.querySelector("header");
      const OffScreenCanvas = document.querySelector(".off-screen-canvas");
      const closeMenuOnNavigation = () => {
        wrapper!.classList.remove("active");
        OffScreenCanvas!.classList.remove("active");
        header!.classList.remove("menu_active");
      };
      document.addEventListener("astro:after-swap", closeMenuOnNavigation);
    </script>
  </body>
</html>
