---
import HTMLHeader from "@components/HTMLHeader.astro";
import "../main.css";
import Navbar from "@components/Navbar.astro";
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
  <head>
    <HTMLHeader />
    <!-- View transitions -->
    <ViewTransitions />
  </head>
  <body
    class="min-h-screen pt-40 sm:pt-36 px-20 sm:px-6 bg-white-100 dark:bg-black-100 overflow-x-hidden"
  >
    <Navbar />
    <slot />
  </body>
</html>
